@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;

  body {
    font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Nanum Gothic',
      'Malgun Gothic', sans-serif;

    button:hover {
      cursor: pointer;
    }
  }
}
